.titulo_contacto {
    @extend.section_one_index
}

.caja_form_contacto {
    background-color: $color_secundario;
    padding: 50px;
    border: #000000 5px solid;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
      
      .formulario {
        font-size: 20px;
        color: #000000;
        padding: 40px;
    }
      h2 {
        font-size: 30px;
    }
      .dato_formulario {
        padding: 20px;
    }
      .img_contacto {
        width: auto;
        height: auto;
        object-fit: cover;
        box-shadow: 7px 7px 7px 5px #19181873;

    }
}






