.main_historia {
    
    background: $color_secundario;
    padding: 30px;
    border: #000000 solid 3px;
      .img_historia {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }
      .img-fluid {
        object-fit: cover;
        height: 600px;
        padding: 3px;
    }
}


