.section_one_index {
    background-color: #ffffff;
    font-size: 25px;
    color: #000000;
    text-align: center;
    padding: 15px;
    h1{
        animation-name: title_move;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-delay: 0s;
    }    
}

@keyframes title_move {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }

}

.section_two_index {
    background-color: $color_secundario;
    padding: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
      & img {
        @include imagen(30%,30%,cover);
        border:  5px #000000 solid;
        border-radius: 4px;
    }
}

.div_index { 
    background-color: $color_secundario;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    gap: 25px;
    color: #360808;
    justify-content: center;
    align-items: center;
    transition: 1s;
     & img {
        @include imagen(25%,25%,cover);
        border: 5px #000000 solid;
        border-radius: 10px;
        box-shadow: 15px 15px 15px 0px #1b1a1a;
    }
      & img:hover {
        width: 30%;
        height: 30%;
    }
}
