.section_one_index {
    background-image: linear-gradient(to left $color_primario,$color_secundario,#ffffff);
    font-size: 25px;
    color: #000000;
    text-align: center;
    padding: 15px;
}

.section_two_index {
    background-color: $color_secundario;
    padding: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
      & img {
        @include imagen(30%,30%,cover);
        border:  5px #000000 solid;
        border-radius: 4px;
    }
}

.div_index { 
    background-color: $color_secundario;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    gap: 25px;
    color: #360808;
    justify-content: center;
    align-items: center;
    transition: 1s;
     & img {
        @include imagen(25%,25%,cover);
        border: 5px #000000 solid;
        border-radius: 10px;
        box-shadow: 15px 15px 15px 0px #1b1a1a;
    }
      & img:hover {
        width: 30%;
        height: 30%;
    }
}
