/*mediaqueris navbar*/
    @media screen and (max-width: 1086px ) {
        .div_nav {
            padding: 10px;
              .nav_list {
                gap: 40px;
            }
        } 
    }   
    
    @media screen and (max-width: 930px ) {
        .div_nav {
              .nav_list {
                gap: 15px;
            }
        } 
    }   

    @media screen and (max-width: 835px ) {
              .div_nav {
                padding: 10px;
              .nav_list {
                gap: 10px;
            }
            
              .nav_list a{
                font-size: 20px;
            }
        }
        
              .div_nav img {
                border: 3px #0f0f0f solid;
                height: 130px;
                width: 250px;
        }
    }   

    @media screen and (max-width: 585px ) {
      .div_nav {
        flex-direction: column;
    }
    }

    @media screen and (max-width: 480px ) {
      .div_nav {
        .nav_list {
          flex-direction: column;
      }
    }
    }
/*mediaqueris index*/
    @media screen and (max-width: 780px ) {
        .div_index { 
          background-color: #ee8762;
          flex-direction: column;
          padding: 15px;
          gap: 15px;
          justify-content: center;
          align-items: center;
    }
    
        .div_index img {
          width: 60%;
          object-fit: cover;
          border: 3px #000000 solid;
    }
}

@media screen and (max-width: 580px ) {
    .section_one_index h1{
     font-size: 20px;
    }

    .section_two_index {
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 8px;
     padding: 10px;
    }

    .section_two_index img {
     height: 30%;
     width: 100%;
     border:  3px #000000 solid;
     object-fit: cover;
    }

}
/*mediaqueris contacto*/
@media screen and (max-width: 1230px ) {
    .img_contacto img {
        width: 500px;
    }
}

@media screen and (max-width: 1016px ) {
    .caja_form_contacto {
     flex-direction: column;
    }
}

@media screen and (max-width: 550px ) {
  .caja_form_contacto {
    flex-direction: column;
    .img_contacto img  {
      width: 270px;
     }
     .formulario,.formulario h2,.titulo_contacto {
      gap: 10px;
      padding: 8px;
      font-size: 18px;
     }
   }
}

@media screen and (max-width: 370px ) {
  .caja_form_contacto {
    flex-direction: column;
    .img_contacto img  {
      width: 230px;
     }
     .formulario,.formulario h2,.titulo_contacto {
      gap: 8px;
      padding: 5px;
      font-size: 16px;
     }
   }
}
/*mediaqueris de footers*/
@media screen and (max-width: 1232px ) {
    .div_footer {
        gap: 50px;
          & a {
        font-size: 20px;
        }
          & iframe{
            width: 100px;
            height: 100px;
        }
          & img {
            width: 80px;
            height: 80px;
        }
    }
}

@media screen and (max-width: 982px ) {
  .div_footer {
      gap: 40px;
        & a {
      font-size: 18px;
      }
    }  
}

@media screen and (max-width: 932px ) {
  .div_footer {
      gap: 20px;
    }  
}

@media screen and (max-width: 842px ) {
  .div_footer {
      & img {
        width: 50px;
        height: 50px;
    }
    & iframe{
      width: 80px;
      height: 80px;
  }
}
}

@media screen and (max-width: 762px ) {
  .div_footer {
      flex-direction: column;
}
}
/*mediaqueris historia*/
@media screen and (max-width: 1230px ) {
    .img-fluid {
      display: none;
  }
}
/*mediaqueris productos*/
@media screen and (max-width: 1185px ) {
  .grilla {
    grid-template-areas: 
    "area1 area1 area1 area1"
    "area2 area2 area2 area2"
    "area3 area3 area3 area3"
    "area4 area4 area4 area4"
    "area5 area5 area5 area5"
    ;
}
}

@media screen and (max-width: 650px ) {
  .caja {
    flex-direction: column;
}
}

@media screen and (max-width: 521px ) {
  .grilla .caja img {
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 378px ) {
  .grilla .caja img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 328px ) {
  .grilla .caja img {
    height: 180px;
    width: 180px;
  }
}