.div_footer {
    background-image: linear-gradient($color_secundario,#ffffff);
    display: flex;
    padding: 30px;
    color: #e9e5e3;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
      & a {
        text-decoration: none;
        color: #09099a;
    }
      & iframe{
        width: 100px;
        height: 100px;
    }
      & img {
        width: 80px;
        height: 80px;
    }
}




