.div_footer {
    display: flex;
    padding: 30px;
    color: #e9e5e3;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    border: #050100 solid 3px;
      & a {
        text-decoration: none;
        color: #0606fb;
    }
      & iframe{
        width: 100px;
        height: 100px;
    }
      & img {
        width: 80px;
        height: 80px;
    }
}
footer{
  background-image: linear-gradient(to left $color_primario,$color_secundario,#ffffff);
}


